.addWarning {
  color: red;
  font-size: 12;
  margin: 5px;
}
.submitNew {
  height: 40px;
  width: 60%;
  border-style: none;
  font-size: 16px;
  color: #505050;
}
.submitContainer {
  display: flex;
  padding: 16px;
  float: right;
  width: 20%;
  justify-content: flex-end;
}
.form {
  display: flex;
  width: 100%;
  background-color: #fefefe;
  margin-bottom: 10px;
  flex-direction: row;
}
.nameInput {
  height: 40px;
  border: 2px lightgrey solid;
  background-color: whitesmoke;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
}
.nameInputContainer {
  width: 20%;
  padding: 16px 0 16px 16px;
}
.emailInput {
  height: 40px;
  border: 2px lightgrey solid;
  background-color: whitesmoke;
  float: left;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}
.emailInputContainer {
  width: 35%;
  padding: 16px 0 16px 16px;
}
.phoneInput {
  height: 40px;
  border: 2px lightgrey solid;
  background-color: whitesmoke;
  float: left;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}
.phoneInputContainer {
  width: 20%;
  padding: 16px 0 16px 16px;
}
